<!--include header-->
<%- include('include/_header') %>
<!--/include header-->

    <!--Main section-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
               <div class="filter">
                   <a href="/"><i class="fas fa-angle-double-left"></i> All Tasks</a>
               </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New Task</h2>
                <span class="text-light">Add A New Task</span>
            </div>

        <!--add task form-->
                <!-- form handling -->
        <form action="/api/tasks" method="POST" id="update_task">
            <div class="new_task">
                <div class="form-group">
                    <label for="Title" class="text-light">Title</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="Title" value="" placeholder="ML Assignment">
                </div>
                <div class="form-group">
                    <label for="Description" class="text-light">Description</label>
                    <input type="text" name="Description" value="" placeholder="Regression Assignment with a colab file">
                </div>
                <div class="form-group">
                    <label for="Target-Date" class="text-light">Target-Date</label>
                    <div class="date inline">
                        <input type="date" id="date-2" name="Target-Date" value="01-01-2021" >
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="text-light">Status</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-4" name="status" value="ToDO" >
                        <label for="radio-4" class="radio-label">ToDo</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-5" name="status" value="In-Progress" >
                        <label for="radio-5" class="radio-label">In-Progress</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-6" name="status" value="Done" >
                        <label for="radio-6" class="radio-label">Done</label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>

            </div>
        </form>
        </div>
    </main>
    <!--/Main section-->

<!--include footer-->
<%- include('include/_footer') %>
<!--/include footer-->