<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <!--Header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">ToDo List Maker</a>
                </div>
            </div>
        </nav>
    </header>
    <!--/Header-->

    <!--Main section-->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/add-task" class="border-shadow">
                        <span class="text-gradient">New Task <i class="fa fa-tasks" aria-hidden="true"></i></span>
                    </a>
                </div>

                <!--Form Handling-->
                <form action="/" method="POST">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Target-Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>ML Assignment</td>
                                <td>Submitting the ML Assignment on Regression</td>
                                <td>19/02/2021</td>
                                <td>In-Progress</td>
                                <td>
                                    <a href="#" class="btn border-shadow update">
                                        <span class="text-gradient">Edit</span>
                                    </a>
                                     |
                                    <a href="#" class="btn border-shadow delete">
                                        <span class="text-gradient">Delete</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <!--/Form Handling-->

            </div>
        </main>
    <!--/Main section-->

</body>
</html>