<tr>
    <td>1</td>
    <td>ML Assignment</td>
    <td>Submitting the ML Assignment on Regression</td>
    <td>19/02/2021</td>
    <td>In-Progress</td>
    <td>
        <a href="/update-task" class="btn border-shadow update">
            <span class="text-gradient">Edit</span>
        </a>
         |
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient">Delete</span>
        </a>
    </td>
</tr>